.penguin-wid
{
    width: 291.11px;
    height: 39.27px;
}

/* woman jacket section start width for each part*/
.card-size-1
{
    width: 370px;
    height: 550px;
}
.image-div-size-1
{
    width: 293px;
    height: 293px;
}

.card-size-2
{
    width: 370px;
    height: 550px;
}
.image-div-size-2
{
    width: 334px;
    height: 289px;
}
.image-size-2
{
    width: 203px;
    height: 273px;
}
.card-size-3
{
    width: 370px;
    height: 550px;
}
.image-div-size-3
{
    width: 334px;
    height: 289px;
}
.image-size-3
{
    width: 210px;
    height: 257px;
}
.back-g
{
    background-color: #eeecec;
    border-radius: 5%;
}
/* woman jacket section image height */
 .img-hgh
{
    height: 390px;
}
/* woman jacket section end width for each part*/
/* man jacket start part */
.man-hgh-1
{
    height: 460px;
}
.man-hgh-2
{
    height: 460px;
}
/* man jacket end part */
/* contact us part start */
.wid
{
    width: 70px;
    height: 70px;
}
.Width-Height
{
    width: 599px;
    height: 354.07px;

}